Data
.Rproj.user
.gpx files
Images
R
~$MapMyRun CharmCityJS.pptx
docs/node_modules/
docs/mwe
docs/upload_text_data/RGB_colors_for_map_magma.js
docs/upload_text_data/RGB_colors_for_map_viridis.js
docs/code for custom coverage function.js
new.jpeg
Rplot.png
Rplot01.png
docs/topography.png